{{>partials/header}}
<fieldset>
    <legend>Adicionar Novo Usuário</legend>
    <form method="POST" action="/novo-usuario">
        <input type="text" name="firstName" placeholder="Digite o seu nome" />
        <input type="text" name="lastName" placeholder="Digite o seu sobrenome" />
        <input type="email" name="email" placeholder="Digite o seu email" />
        <input type="text" name="age" placeholder="Digite o sua idade" />
        <input type="text" name="interest" placeholder="Digite o seus interesses (separado por virgula)" />
        <input type="submit" value="Inserir">
    </form>
</fieldset>

<h3>Usuários</h3>
<ul>
    {{#users}}
    <li>
        {{name.firstName}} » {{age}} anos » {{interest}} <a href="/usuario/{{_id}}/addidade"> +1ano de vida</a>
    </li>
    <br>
    {{/users}}
</ul>


{{>partials/footer}}